body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

.font-display {
    font-family: "Caveat", cursive;
}

h1, h2, h3, h4 {
    font-family: "Caveat", cursive;
    color: rgb(var(--resin-blue));
}

h1 span {
    border-bottom: 2px solid rgb(var(--resin-blue));
}

.small-caps {
    font-variant: all-small-caps;
}

.display-1 {
    font-size: 3rem;
}

.display-2 {
    font-size: 2.5rem;
}

.display-3 {
    font-size: 2rem;
}

.display-4 {
    font-size: 1.5rem;
}

