.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}

.page-enter, .page-leave-active {
    opacity: 0;
}

.btn {
    color: rgb(var(--resin-white));
    background-color: rgb(var(--resin-blue));
    font-variant: all-small-caps;
    padding: 8px 15px;
    letter-spacing: 0.1em;
}

.btn[disabled] {
    color: rgb(var(--resin-dark));
    background-color: rgb(var(--resin-light));
}

.btn:not([disabled]):hover {
    color: rgb(var(--resin-white));
    background-color: rgb(var(--resin-blue-lighter));
}

.pointer {
    cursor: pointer;
}
